<div class="card">
  <div class="card-content">

    <h5>Name <%= link_to "#{@item.name}", items_path(category:@category) %></h5><br/>

    <h5><%= @item.description %></h5><br/>

    <h5>Color: <%= @item.color %></h5><br/>

    <h5>Weight: <%= @item.weight %> lbs</h5><br/>

    <h5>Current Price: <%= number_to_currency(@item.current_retail_price) %></h5><br/>

    <h5>Similar Items: <%= @similar_items %></h5><br/>

    <% unless @prices.nil? %>
      <% unless @prices.empty? %>
        <% if logged_in? && (current_user.role?(:admin)) %>
          <h3>Price History </h3>
          <% for price in @prices %>
              <h5><%= number_to_currency(price.price) %></h5><br/>
              <h5>Date <%= price.start_date %></h5><br/>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <h5><%= link_to "Add to Cart", add_item_path(@item.id), method: :get %></h5><br/>

    <h5><%= link_to "View Cart(#{session[:cart].size})", view_cart_path(@item.id), method: :get %></h5><br/>

    <% if logged_in? and current_user.role?(:admin) %>
      <% if @item.is_featured? %>
        <h5><%= link_to "Stop Featured", toggle_feature_path(@item.id), method: :patch %></h5><br/> 
      <% else %>
        <h5><%= link_to "Make Featured", toggle_feature_path(@item.id), method: :patch %></h5><br/>
      <% end %>

      <% if @item.active? %>
        <h5><%= link_to "Make Inactive", toggle_active_path(@item.id), method: :patch %></h5><br/>
      <% else %>
        <h5><%= link_to "Make Active", toggle_active_path(@item.id), method: :patch %></h5><br/>
      <% end %>

      <h5><%= link_to "Add a New Price", new_item_price_path(item_id: @item.id), method: :get %></h5><br/>

      <h5>Inventory Level: <%= @item.inventory_level %></h5><br/>

      <h5>Reorder Level: <%= @item.reorder_level %></h5><br/>
    <% end %>


  </div>
</div>